{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Profile wizard: certificates{% endblock %}

{% block content %}
	<h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h2>
	<h3 class="step_title">Work Places</h3>

	{% include 'inc/messages.html' %}

	<form action="" method="post" id="form-container">

		{% csrf_token %}

		<table>
			{{ wizard.management_form }}

			{% if wizard.form.forms %}
				{{ wizard.form.management_form }}
				{% for form in wizard.form.forms %}
					<div class="workplace-form">
						{{form.as_p}}
					</div>
				{% endfor %}
			{% else %}
				{{ wizard.form }}
			{% endif %}
		</table>

		<button id="add-form" type="button">Add Another Work Place</button>

		<div>
			<button type="submit" class="btn btn-primary"  value="submit">Submit</button>
			{% if wizard.steps.prev %}
				<button name="wizard_goto_step" type="submit" formnovalidate="formnovalidate" 
					class="btn btn-secondary float-left" style="margin-right: 0.2em"
					value="{{ wizard.steps.first }}">First step</button>
				<button name="wizard_goto_step" type="submit" formnovalidate="formnovalidate" 
					class="btn btn-secondary float-left" style="margin-right: 0.2em"
					value="{{ wizard.steps.prev }}">Prev step</button>
			{% endif %}
		</div>

	</form>
{% endblock %}


{% block scripts_after %}
	<script>
			let certificateForm = document.querySelectorAll(".workplace-form");
			let container = document.querySelector("#form-container");
			let addButton = document.querySelector("#add-form");
			let totalForms = document.querySelector("#id_form-TOTAL_FORMS");

			let formNum = certificateForm.length-1
			addButton.addEventListener('click', addForm);

			function addForm(e){
					e.preventDefault();

					let newForm = certificateForm[0].cloneNode(true);
					let formRegex = RegExp(`form-(\\d){1}-`,'g');

					formNum++;
					newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`);
					container.insertBefore(newForm, addButton);
					
					totalForms.setAttribute('value', `${formNum+1}`);
			}
	</script>
{% endblock %}
