{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Profile wizard: certificates{% endblock %}

{% block content %}
	<h2>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h2>
	<h3 class="step_title">Certificates</h3>

	{% include 'inc/messages.html' %}

	<form action="" method="post">

		{% csrf_token %}

		{{ wizard.management_form }}
		{{ formset.management_form }}
		{{ certificate_formset.management_form }}
		1{{ certificate_formset }}2
		@{{ wizard.test }}@
		@{{ test }}@
		@{{ wizard.formset }}@
		{{ formset}}

		{% for form in wizard.certificate_formset %}
			<div class="certificate-form">
				{{form.as_p}}!
			</div>
		{% endfor %}

		{% for form in wizard.formset %}
			<div class="certificate-form">
				{{form.as_p}}!
			</div>
		{% endfor %}

		{% for form in certificate_formset %}
			<div class="certificate-form">
				{{form.as_p}}!
			</div>
		{% endfor %}

		<button id="add-form" type="button">Add Another Certificate</button>

		{% if wizard.steps.prev %}
			<button name="wizard_goto_step" type="submit" formnovalidate="formnovalidate" 
				class="btn btn-secondary float-left" style="margin-right: 0.2em"
				value="{{ wizard.steps.first }}">First step</button>
			<button name="wizard_goto_step" type="submit" formnovalidate="formnovalidate" 
				class="btn btn-secondary float-left" style="margin-right: 0.2em"
				value="{{ wizard.steps.prev }}">Prev step</button>
		{% endif %}

	</form>
{% endblock %}


{% block scripts_after %}
	<script>
			let certificateForm = document.querySelectorAll(".certificate-form");
			let container = document.querySelector("#form-container");
			let addButton = document.querySelector("#add-form");
			let totalForms = document.querySelector("#id_form-TOTAL_FORMS");

			let formNum = certificateForm.length-1
			addButton.addEventListener('click', addForm);

			function addForm(e){
					e.preventDefault();

					let newForm = certificateForm[0].cloneNode(true);
					let formRegex = RegExp(`form-(\\d){1}-`,'g');

					formNum++;
					newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`);
					container.insertBefore(newForm, addButton);
					
					totalForms.setAttribute('value', `${formNum+1}`);
			}
	</script>
{% endblock %}
